body {
    padding: 20px;
    color: white;
    background-color: #e0ecf6;
}

.container {
    background-color: #29526c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(239, 12, 12, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item.completed span {
    text-decoration: line-through;
    opacity: 0.5;
}

#deleteBtn {
    margin-top: 10px;
}

